<% if value.nil? %>
  <%= null %>
<% else %>
  <%= content_tag :span, nil, style: "background-color: #{ value };", class: 'color-square' %>
  <span class="text-uppercase"><%= value %></span>
<% end %>
