<% if value.present? %>
  <% value = Time.zone.parse value if value.is_a? String %>
  <span><%= I18n.l(value, format: :short) %></span>
  <%= i_tooltip I18n.l(value), 'time' %>
<% else %>
  <%= null %>
<% end %>