<% if value.nil? %>
  <%= null %>
<% else %>
  <% value  = Time.zone.parse value if value.is_a? String %>
  <span><%= I18n.l value, format: :short %></span>
  <%= itooltip I18n.l(value), 'time' %>
<% end %>
