<% max   = metadata[:max] || 28 %>
<% if value.nil? %>
  <%= null %>
<% else %>
  <% value = value.to_s %>
  <% if value.length > max %>
    <span><%= value.truncate max %></span>
    <%= imodal metadata[:label], value %>
  <% else %>
    <span><%= value %></span>
  <% end %>
<% end %>
