<%# @param object [model] model instance %>
<%# @param field_name [String] name of the field %>
<%# @param value [Object] value of the field %>
<%# @param metadata [Hash] metadata of the field %>
<% if value.nil? %>
  <%= null %>
<% else %>
  <span class="from"><%= I18n.l value.first, format: :short %></span>
  ...
  <span class="to"><%= I18n.l value.last, format: :short %></span>
  <%= itooltip "#{ I18n.l value.first } ... #{ I18n.l value.last }", 'clock-o' %>
<% end %>
