# folders
/.bundle/
/.yardoc/
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
.jekyll-cache/
_site/
doc/
tmp/
log/

coverage/
deep_cover/
storage/

# files
cc-test-reporter
.rspec_status
.byebug_history
Gemfile.lock
*.gem
*.sqlite3
*.sqlite3-journal
