<% decorated.errors[:base].try do |messages| %>
  <% Array(messages).each do |message| %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <%= raw message %>
    </div>
  <% end %>
<% end %>
<% authorized_field_names(current_model_decorator, :form).each do |field_name| %>
  <%= form_type_partial_render decorated.form_type_of(field_name).to_s, field_name: field_name, form: form %>
<% end %>
<%= form.button t('buttons.save'), class: 'btn btn-primary' %>
<%= cancel_link class: 'btn btn-default' %>
