<% # can be overridden %>
<header>
  <nav class="navbar">
    <div class="container-fluid">
      <%# Brand %>
      <div class="navbar-header">
        <%# Mobile Menu Toggler %>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-menu" aria-expanded="false">
          <span class="fa fa-bars"></span>
        </button>
        <%# //Mobile Menu Toggler %>
        <%= render 'logo' %>
      </div>
      <%# //Brand %>

      <div id="top-menu" class="collapse navbar-collapse">
        <%# Resources navigation %>
        <%= render 'navs' %>
        <%# //Resources navigation %>
        <%# User account %>
        <ul class="nav navbar-nav navbar-right">
          <li><span class=""></span></li>
          <% if current_user.present? %>
            <li role="separator" class="divider"></li>
            <li>
              <a id="user_menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                class="dropdown-toggle">
                <%= user_portrait %>
                <span class="visible-xs-inline-block">User</span>
                <span class="caret"></span>
              </a>
              <%= render 'user_menu' %>
            </li>
          <% end %>
        </ul>
        <%# //User account %>
      </div>
    </div>
  </nav>
</header>
