<% # can be overridden %>
<% if current_engine %>
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a id="model_tree" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
        Data <span class="caret"></span>
      </a>
      <%= model_tree model_classes, 'model_tree' %>
    </li>
  </ul>
<% end %>
