<% # can be overridden %>
<% if current_engine %>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
      <a id="model_tree" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
        Data <span class="caret"></span>
      </a>
      <%= model_tree model_classes, 'model_tree' %>
    </li>
  </ul>
<% end %>
