<% # can be overridden %>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="user_menu">
  <% if logout_path.present? %>
    <%= link_to 'Sign out', logout_path, method: logout_method, class: 'dropdown-item' %>
  <% end %>
</div>
