<% decorated_resource = decorator.new resource %>
<section>
  <h1>Create a <%= decorated_resource.model_label %></h1>
  <hr />
  <%= render 'shared/breadcrumb' %>
  <%= form_for decorated_resource, url: wallaby_engine.resources_path, method: :post do |form| %>
    <%= render 'form', form: form, decorated_resource: decorated_resource %>
  <% end %>
</section>