<nav>
  <ul class="breadcrumbs">
    <% breadcrumb_components.each do |component| %>
      <li class="<%= component == breadcrumb_components.last && 'current' %>">
        <%= breadcrumb_item_for component %>
      </li>
    <% end %>
  </ol>
</nav>