<nav class="pull-right">
  <ul class="nav nav-pills">
    <% resource_links.each_with_index do |link, index| %>
      <li role="presentation">
        <%= link %>
      </li>
    <% end %>
  </ul>
</nav>
