<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <%# Brand %>
      <div class="navbar-header">
        <%# Mobile Menu Toggler %>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%# //Mobile Menu Toggler %>
        <a class="navbar-brand" href="#">Wallaby Admin</a>
      </div>
      <%# //Brand %>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">Dashboard <span class="sr-only">(current)</span></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <%# TODO: replace the fake resource %>
              <li><a href="#">Post</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li role="separator" class="divider"></li>
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%# TODO: replace the fake image %>
              <img src="https://www.ruby-lang.org/images/download-ruby-arrow@2x.png" width="20" height="20" class="hidden-xs" />
              <span class="visible-xs-inline-block">User</span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Sign out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>