<header>
  <nav class="top-bar sticky" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">Admin</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class=""><a href="#" class="alert">Logout</a></li>
        <li class=""><a href="javascript:;"><img src="http://www.gravatar.com/avatar/5f0efb20de5ecfedbe0bf5e7c12353fe?s=30" /></a></li>
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <li class=""><a href="#">Dashboard</a></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Resources</a>
          <ul class="dropdown">
            <li class=""><a href="">Post</a></li>
          </ul>
        </li>
        <li class="divider"></li>
      </ul>
    </section>
  </nav>
</header>