<div class="form-group">
  <%= form.label field_name, metadata[:label] %>
  <br />
  <label>
    <%= form.radio_button field_name, true %> Yes
  </label>
  <label>
    <%= form.radio_button field_name, false %> No
  </label>
  <%= form_field_error_messages object, field_name %>
</div>