<div class="form-group">
  <%= form.label field_name, metadata[:label] %>
  <div class="row">
    <div class="col-xs-3">
      <%= form.date_field field_name, class: 'form-control' %>
    </div>
  </div>
</div>