<div class="form-group <%= form.error_class field_name %>">
  <%= form.label field_name, metadata[:label] %>
  <%= form.email_field field_name, class: 'form-control' %>
  <%= form.error_messages field_name %>
</div>
