<%
this_model_decorator = model_decorator metadata[:class]
%>
<div class="form-group">
  <%= form.label metadata[:foreign_key], metadata[:label] %>
  <div class="row">
    <div class="col-xs-6">
      <%= form.select metadata[:foreign_key], model_choices(this_model_decorator), { }, { class: 'form-control', multiple: true } %>
      <p class="help-block">
        Press CTRL to select/deselect multiple items. Or
        <%= link_to "Create #{ metadata[:label] }", wallaby_engine.new_resource_path(this_model_decorator.resources_name) %>
      </p>
    </div>
  </div>
  <%= form_field_error_messages object, field_name %>
</div>
