<div class="form-group <%= form.error_class field_name %>">
  <%= form.label field_name, metadata[:label] %>
  <%= form.text_area field_name, value: value.to_s[%r(\A{(.*)}\Z), 1], class: 'form-control', data: { init: 'codemirror', mode: 'ruby' } %>
  <%= form.error_messages field_name %>
</div>
<p class="help-block">
  Format: <code>"KEY1" => "VALUE1", "KEY2" => "VALUE2"</code>
</p>

<% unless @codemirror_init %>
  <% @codemirror_init = true %>
  <% content_for :custom_javascript do %>
    <% javascript_tag do %>
      jQuery(document).off('turbolinks:load.hstore').on('turbolinks:load.hstore', function () {
        $('textarea[data-init="codemirror"]').each(function (index, element) {
          CodeMirror.fromTextArea(element, {
            mode: $(element).data('mode'),
            theme: "base16-dark",
            lineNumbers: true
          });
        })
      })
    <% end %>
  <% end %>
<% end %>
