<div class="form-group <%= form.error_class field_name %>">
  <%= form.label field_name, metadata[:label] %>
  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <%= form.text_field field_name, class: 'form-control' %>
      </div>
    </div>
  </div>
  <%= form.error_messages field_name %>
</div>
