<div class="form-group <%= form.error_class field_name %>">
  <%= form.label field_name, metadata[:label] %>
  <%= form.text_area field_name, class: 'form-control', data: { init: 'summernote' } %>
  <%= form.error_messages field_name %>
</div>

<% unless @summernote_init %>
  <% @summernote_init = true %>
  <% content_for :custom_javascript do %>
    <% javascript_tag do %>
      jQuery(document).off('turbolinks:load.text').on('turbolinks:load.text', function () {
        $('textarea[data-init="summernote"]').summernote({
          height: 150,
          codemirror: { // codemirror options
            theme: 'base16-dark'
          }
        })
      })
    <% end %>
  <% end %>
<% end %>
