.error {
  padding-top: 100px;

  article {
    max-width: 767px;
    position: relative;
    text-align: center;

    &:before {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      content: '';
      display: block;
      height: 120px;
      margin: 0 auto;
      width: 120px;
    }

    h1 {
      color: $light-blue-color;
      margin-top: 40px;

      em {
        color: $light-red-color;
        display: block;
        font-size: 150%;
        font-style: normal;
      }
    }
  }

  .not_found, .forbidden, .unauthorized {
    &:before {
      background-image: asset-url('wallaby/404.png');
    }
  }

  .bad_request, .unprocessable_entity {
    &:before {
      background-image: asset-url('wallaby/422.png');
      border: 2px solid white;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
      height: 170px;
    }
  }

  .internal_server_error {
    &:before {
      background-image: asset-url('wallaby/500.png');
      border: 2px solid white;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
      height: 170px;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .error {
    padding-top: 142px;

    article {
      margin: 0 auto;
      padding-left: 140px;
      text-align: left;

      &:before {
        left: 0;
        position: absolute;
      }

      h1 {
        margin-top: 20px;

        em {
          display: inline;
          font-size: 100%;
        }
      }
    }

    .not_found, .forbidden, .unauthorized {
      &:before {
        background-image: asset-url('wallaby/404.png');
      }
    }

    .bad_request, .unprocessable_entity {
      &:before {
        background-image: asset-url('wallaby/422.png');
        border: 2px solid white;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
        height: 170px;
      }
    }

    .internal_server_error {
      &:before {
        background-image: asset-url('wallaby/500.png');
        border: 2px solid white;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
        height: 170px;
      }
    }
  }
}


