.resource__form label
{
  color: $default-primary-color;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}

.CodeMirror
{
  border: 1px solid #eeeeee;
  height: 348px;
}

.help-block
{
  clear: both;
  font-size: 11px;
  margin: 0;
  padding: 5px 1px;
}

.errors
{
  @extend .text-danger;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 25px;
}
