.edit, .new, .create, .update {
  section {
    .resource__container {
      padding: 20px;
    }

    label {
      color: $default-primary-color;
      font-size: $font-size-small;
      font-style: italic;
      text-transform: uppercase;
    }

    .form-control {
      font-size: $font-size-small;
    }

    .CodeMirror {
      border: 1px solid #eeeeee;
      height: 168px;
    }

    .btn {
      font-size: $font-size-small;
    }

    .form-group {
      a, a:hover {
        border-bottom: 1px solid;
        display: inline-block;
        font-size: $font-size-small;
        text-decoration: none;
      }
    }
  }
}
