@media (min-width: $screen-sm-min) {
  .index {
    article {
      .page-header {
        .query {
          top: 50%;
          right: 30px;
          bottom: unset;
          left: 65%;
          margin-top: -15px;
          transition: 0.5s;

          &.focus {
            left: 50%;
          }
        }
      }
    }
  }
}


