.index {
  article {
    .page-header {
      .dropdown {
        color: $light-primary-color;
        font-size: $font-size-small;

        &.open > a {
          border-bottom: none;
        }

        > a:hover {
          border-color: $default-primary-color;
          padding-right: 11px;
          &:after {
            color: $default-primary-color;
          }
        }

        > a:after {
          @extend .fa, .fa-angle-down:before;
          line-height: 20px;
          color: transparent;
          top: -1px;
          right: 0;
          transition: 0.1s;
          position: absolute;
          font-size: 12px;
        }
        .dropdown-menu {
          .current a {
            color: $light-blue-color;
          }

          em {
            font-size: $font-size-small;
            font-style: normal;
            color: $light-font-color;
            display: block;
            padding: 3px 20px;
          }

          a {
            font-size: $font-size-small;
          }
        }
      }

      .pull-right {
        float: none !important;
        position: absolute;
        z-index: 10;
        right: 20px;
        bottom: 15px;
        left: 20px;

        @media (min-width: $screen-sm-min) {
          top: 50%;
          right: 30px;
          bottom: unset;
          left: 65%;
          margin-top: -15px;
          transition: 0.5s;

          &.focus {
            left: 50%;
          }
        }

        &.filtered {
          form {
            margin-right: 108px;
          }
        }

        form {
          display: block;
          margin-right: 72px;

          label.search {
            display: block;
            margin: 0;

            &:before {
              position: absolute;
              @extend .fa, .fa-search:before;
              z-index: 10;
              left: 8px;
              top: 50%;
              margin-top: -7px;
              color: $default-primary-color;
            }

            input {
              color: $default-primary-color;
              border: none;
              border-radius: 2px;
              position: relative;
              height: 30px;
              padding: 4px 5px 4px 27px;
              font-weight: normal;
              width: 100%;
            }
          }
        }

        .actions {
          position: absolute;
          right: 0;

          a.fa {
            background-color: $light-blue-color;
            float: left;
            margin-left: 6px;
            color: white;
            border-radius: 2px;
            border: none;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            text-decoration: none;
            &:hover {
              background-color: $default-blue-color;
            }
          }

          a.create {
            background-color: $light-green-color;
            &:hover {
              background-color: $default-green-color;
            }
          }

          a.more {
            background-color: $light-grey-color;
            &:hover {
              background-color: $default-grey-color;
            }
          }

          > .dropdown-menu {
            left: unset;
            right: 0;
          }
        }
      }

    }
  }

  section {
    position: relative;
    margin-bottom: 30px;

    .centre {
      position: relative;
      padding-top: 150px;
      padding-left: 80px;
      text-align: center;
      font-size: 24px;

      img {
        position: absolute;
        margin-left: -90px;
        margin-top: -20px;
        height: 80px;
      }
    }

    .inner {
      overflow: auto;
    }

    table.actions-table {
      top: 0;
      right: 0;
      position: absolute;
      width: inherit;
    }

    table.data-table {
      padding-right: 64px;
      tbody td.actions {
        width: 85px;
        a {
          display: none;
        }
      }
    }

    table.data-table, table.actions-table {
      @extend .table;
      margin-bottom: 0;

      tbody td.actions {
        min-width: 85px;
        a {
          font-size: $font-size-small;
          text-decoration: none;
          display: inline-block;
          width: 16px;
          height: 16px;
          line-height: 16px;
          background-color: $light-primary-color;
          color: white;
          border-radius: 2px;
          text-align: center;
          margin-right: 3px;

          &:hover {
            background-color: $default-primary-color;
          }

          &.text-warning {
            background-color: $light-yellow-color;

            &:hover {
              background-color: $default-yellow-color;
            }
          }

          &.text-danger {
            background-color: $light-red-color;

            &:hover {
              background-color: $default-red-color;
            }
          }

          &:last-child {
            margin-right: 0px;
          }
        }
      }

      thead tr th, tbody tr td {
        height: 40px;
        padding: 8px 12px;
        border: none;
        border-bottom: 6px solid $background-color !important;
        background-color: white;
        font-size: $font-size-small;
        font-weight: normal;
        white-space: nowrap;
      }

      thead tr th {
        text-transform: uppercase;
        font-weight: bold;
        color: $secondary-text-color;
        line-height: 20px;
        position: relative;
        border: none;

        a {
          display: block;
          padding-right: 11px;
          color: $light-primary-color;
          text-decoration: none;
          transition: 0.5s;
          position: relative;
          &:before {
            @extend .fa;
            color: $light-primary-color;
            transition: 0.5s;
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -6px;
          }
          &:hover {
            color: $default-primary-color;
            &:before {
              color: $default-primary-color;
              @extend .fa-sort-asc:before;
            }
          }
        }
        &.asc {
          a {
            &:before {
              @extend .fa-sort-asc:before;
            }
            &:hover {
              &:before {
                @extend .fa-sort-desc:before;
              }
            }
          }
        }
        &.desc {
          a {
            &:before {
              @extend .fa-sort-desc:before;
            }
            &:hover {
              &:before {
                @extend .fa-sort:before;
              }
            }
          }
        }
      }

      tbody tr {
        .hover td {
          background-color: $default-primary-color;
          color: white;

          a {
            color: white;
          }
          .modal {
            color: $font-color;
            a {
              color: $default-primary-color;
            }
          }
        }

        td {
          a {
            display: inline-block;
            color: $default-primary-color;
            font-size: $font-size-small;
            text-decoration: none;
            border-bottom: 1px solid $white;

            &:hover {
              border-bottom: 1px solid;
            }
          }
        }
      }
    }
  }
}
