.index {
  .resources__header {
    > nav {
      @include divider;
      margin-left: 6px;
    }
  }

  .resources {
    section {
      margin-bottom: 4px;
    }

    &__not-found {
      font-size: 24px;
      padding-left: 105px;
      padding-top: 140px;
      position: relative;
      text-align: left;

      img {
        height: 80px;
        margin-left: -90px;
        margin-top: 12px;
        position: absolute;
      }
    }

    &__data, &__actions {
      @extend .table;
      border-collapse: separate;
      margin-bottom: 0;

      tbody td.resource__actions {
        min-width: 85px;
        text-align: right;

        a {
          @extend .fa;
          &:before {
            content: fa-content($fa-var-info);
            line-height: 16px;
            width: 16px;
          }

          background-color: $light-primary-color;
          border-radius: 2px;
          border: none;
          color: $white;
          display: inline-block;
          height: 16px;
          line-height: 16px;
          margin-right: 3px;
          text-align: center;
          text-decoration: none;
          width: 16px;

          &:hover {
            background-color: $default-primary-color;
            color: $white;
          }

          &.resource__update {
            &:before {
              content: fa-content(map-get($fa-map, fa-var-pencil));
            }
            background-color: $light-yellow-color;

            &:hover {
              background-color: $default-yellow-color;
            }
          }

          &.resource__destroy {
            &:before {
              content: fa-content(map-get($fa-map, fa-var-remove));
            }
            background-color: $light-red-color;

            &:hover {
              background-color: $default-red-color;
            }
          }

          &:last-child {
            margin-right: 0px;
          }
        }
      }

      thead tr th, tbody tr td {
        background-color: white;
        border: none;
        border-bottom: 6px solid $background-color;
        font-weight: normal;
        height: 40px;
        padding: 8px 12px;
        white-space: nowrap;
      }

      thead tr th {
        color: $light-grey-color;
        font-weight: bold;
        line-height: 20px;
        position: relative;
        text-transform: uppercase;

        a {
          border-bottom: none;
          display: block;
          padding-right: 11px;
          position: relative;
          transition: 0.5s;

          &:before {
            @extend .fa;
            color: $light-primary-color;
            margin-top: -6px;
            position: absolute;
            right: 0;
            top: 50%;
            transition: 0.5s;
          }

          &:hover {
            color: $default-primary-color;
            &:before {
              content: fa-content(map-get($fa-map, fa-var-sort-asc));
            }
          }
        }

        &.asc {
          a {
            &:before {
              content: fa-content(map-get($fa-map, fa-var-sort-asc));
            }
            &:hover {
              &:before {
                content: fa-content(map-get($fa-map, fa-var-sort-desc));
              }
            }
          }
        }

        &.desc {
          a {
            &:before {
              content: fa-content(map-get($fa-map, fa-var-sort-desc));
            }
            &:hover {
              &:before {
                content: fa-content($fa-var-sort);
              }
            }
          }
        }
      }

      tbody tr {
        td {
          a {
            display: inline-block;
          }
        }
      }
    }

    &__actions {
      position: absolute;
      right: 0;
      top: 0;
      width: inherit;

      thead tr th {
        @extend .fa;
        display: table-cell;
        font-size: 14px;

        &:before, &:after {
          display: inline-block;
          margin-top: -10px;
          position: absolute;
          top: 50%;
        }

        &.resources--forward:after {
          content: fa-content($fa-var-angle-double-right);
          right: 16px;
        }

        &.resources--backward:before {
          content: fa-content($fa-var-angle-double-left);
          left: 16px;
        }
      }
    }
  }
}

@import '_index_desktop';
