.resource
{
  margin-bottom: 4px;
}

.resource__field
{
  margin: 0;
  padding: 15px 20px;
}

.resource__label
{
  border-bottom: 1px solid $background-color;
  color: $default-primary-color;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 8px;
  text-transform: uppercase;
}

.resource__value
{
  padding-top: 8px;
}

.resource__not-found
{
  font-size: 24px;
  padding-left: 105px;
  padding-top: 140px;
  position: relative;
  text-align: left;
}

.resource__not-found-image
{
  height: 80px;
  margin-left: -90px;
  margin-top: 12px;
  position: absolute;
}

// desktop
@media (min-width: $screen-sm-min) {
  .resource {
    margin-bottom: 24px;
  }

  .resource__not-found-image
  {
    margin-left: -95px;
    margin-top: -21px;
  }
}
