.show {
  section {
    dl {
      padding: 15px 20px;
      margin: 0;
    }

    dt {
      border-bottom: 1px solid $background-color;
      color: $default-primary-color;
      font-size: $font-size-small;
      font-style: italic;
      font-weight: bold;
      padding-bottom: 8px;
      text-transform: uppercase;
    }

    dd {
      padding-top: 8px;
    }
  }
}
