@keyframes auto_select_highlight {
  0% {
    background: $light-blue-color;
    color: $white;
  }
  100% {
    background: $background-color;
    color: $light-blue-color;
  }
}

// auto_select:begin
.auto_select
{
  width: 100%;
}

.auto_select__list, .auto_select__item
{
  list-style: none;
  margin: 0;
  padding: 0;
}

.auto_select__list
{
  clear: both;
  padding: 8px 15px 0;
}

.auto_select__list:after
{
  clear: both;
  content: "";
  display: block;
}

.auto_select__item
{
  float: left;
}

.auto_select__link
{
  background: $background-color;
  border-radius: 3px;
  color: $light-blue-color;
  display: inline-block;
  line-height: 18px;
  margin-bottom: 8px;
  margin-right: 8px;
  padding: 5px 24px 5px 10px;
  position: relative;
  transition: 0.5s;
}

.auto_select__link:focus
{
  animation: auto_select_highlight 1s;
}

.auto_select__link:before
{
  @extend .fa;
  @extend .fa-times;
  color: $light-red-color;
  display: block;
  height: 16px;
  font-size: 10px;
  line-height: 16px;
  margin-top: -8px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 50%;
}

.auto_select__link:hover
{
  color: $light-blue-color;
}

.auto_select__link:hover:before
{
  color: $default-red-color;
}

.auto_select__count
{
  clear: both;
  color: $light-grey-color;
  display: block;
  font-size: 11px;
  font-weight: normal;
  padding: 8px 15px 0;
}

.auto_select--spacing
{
  margin-bottom: 8px;
}
// auto_select:end

// Typeahead:begin
.twitter-typeahead
{
  width: 100%;
}

.tt-menu
{
  right: 0;
}

.tt-input
{
  background-color: $white !important;
}

.tt-input[disabled]
{
  background-color: #EEEEEE !important;
}

.tt-dataset
{
  background: $white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border-radius: 0 0 3px 3px;
  padding: 5px 0;
}

.tt-suggestion
{
  padding: 3px 20px;
}

.tt-suggestion:hover
{
  background-color: #F5F5F5;
}
// Typeahead:end

// desktop
@media (min-width: $screen-sm-min) {
  .auto_select--spacing
  {
    margin-bottom: 0;
  }
}
