.resource__create
{
  color: $light-green-color;
}

.resource__create:hover
{
  color: $default-green-color;
}

.resource__update
{
  color: $light-yellow-color;
}

.resource__update:hover
{
  color: $default-yellow-color;
}

.resource__destroy
{
  color: $light-red-color;
}

.resource__destroy:hover
{
  color: $default-red-color;
}
