.nav {
  a {
    &:hover {
      background-color: #337ab7;
      color: #ffffff;
    }
  }
  .text-danger {
    &:hover {
      background-color: #d04437;
    }
  }

  .text-warning {
    &:hover {
      background-color: #f6c342;
    }
  }
}
