.pagination
{
  display: inline-block;
  color: $light-grey-color;
}

.pagination__pers,
.pagination__pages
{
  display: inline-block;
}

#all_pers,
#all_pages,
.pagination__pers--current,
.pagination__prev,
.pagination__next
{
  color: $light-blue-color;
}

#page_number
{
  border: none;
  outline: none;
}

// divider
.pagination__pers,
.pagination__prev,
.pagination__next
{
  position: relative;
  margin-left: 7px;
  padding-left: 11px;
}

.pagination__pers:before,
.pagination__prev:before,
.pagination__next:before
{
  background-color: $light-grey-color;
  content: '';
  height: 10px;
  left: 0;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  width: 1px;
}
