.kaminari {
  display: inline-block;
  font-size: 12px;

  .pagination, .pagination-info {
    position: relative;
    display: inline-block;
    margin: 0;
    margin-left: 10px;
    padding-left: 10px;
    line-height: auto;
    color: $light-primary-color;

    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      height: 10px;
      width: 1px;
      margin-top: -5px;
      content: '';
      background-color: $light-primary-color;
    }

    .prev {
      & > a:hover {
        border-color: $default-primary-color;
        padding-left: 11px;
        &:before {
          color: $default-primary-color;
        }
      }

      & > a:before {
        @extend .fa, .fa-angle-left:before;
        line-height: 20px;
        color: transparent;
        top: -1px;
        left: 0;
        transition: 0.1s;
        position: absolute;
        font-size: 12px;
      }
    }

    .next {
      & > a:hover {
        border-color: $default-primary-color;
        padding-right: 11px;
        &:after {
          color: $default-primary-color;
        }
      }

      & > a:after {
        @extend .fa, .fa-angle-right:before;
        line-height: 20px;
        color: transparent;
        top: -1px;
        right: 0;
        transition: 0.1s;
        position: absolute;
        font-size: 12px;
      }
    }
  }
}
