.query {
  bottom: 10px;
  float: none !important;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 10;

  &--filtered {
    form {
      margin-right: 108px;
    }
  }

  &__search {
    display: block;
    margin-right: 72px;

    label {
      display: block;
      margin: 0;
      position: relative;

      &:before {
        @extend .glyphicon;
        @extend .glyphicon-search;
        color: $default-primary-color;
        left: 8px;
        margin-top: -7px;
        position: absolute;
        top: 50%;
        z-index: 10;
      }

      input {
        @extend .form-control;

        &::placeholder {
          color: $light-grey-color;
        }

        border-radius: 2px;
        border: none;
        box-shadow: none;
        color: $default-primary-color;
        font-weight: normal;
        height: 30px;
        padding: 4px 5px 4px 27px;
        position: relative;
        width: 100%;
      }
    }
  }

  &__actions {
    @include dropdown($left_or_right: "right");
    position: absolute;
    right: 0;

    .query__clear, .query__create, .query__more {
      border-radius: 2px;
      border: none;
      color: white;
      float: left;
      height: 30px;
      line-height: 30px;
      margin-left: 6px;
      text-align: center;
      text-decoration: none;
      width: 30px;
    }

    .query__clear {
      @extend .glyphicon;
      @extend .glyphicon-ban-circle;
      background-color: $light-grey-color;

      &:hover {
        background-color: $default-grey-color;
      }
    }

    .query__create {
      @extend .glyphicon;
      @extend .glyphicon-plus;
      background-color: $light-green-color;

      &:hover {
        background-color: $default-green-color;
      }
    }

    .query__more {
      @extend .glyphicon;
      @extend .glyphicon-chevron-down;
      background-color: $light-blue-color;

      &:hover {
        background-color: $default-blue-color;
      }
    }
  }
}

