//
// Tables
// --------------------------------------------------
table.data-table {
  @extend .table;
  thead tr th {
    color: $gray-light;
    text-transform: uppercase;
  }
  tbody tr td {
    padding: 8px 12px;
    a, a:hover {
      text-decoration: none;
    }
  }
  i.glyphicon {
    color: lighten($gray, 40%);
    &:hover {
      color: $gray-dark;
    }
  }
  a {
    i.glyphicon {
      margin-right: 2px;
      color: inherit;
      &:hover {
        color: inherit;
      }
    }
  }
}

table.detail-table {
  @extend .table;
  thead tr th, tbody tr th {
    color: $gray-light;
    text-transform: uppercase;
  }
  tbody tr {
    td {
      padding: 8px 12px;

      a, a:hover {
        text-decoration: none;
      }
    }
  }
}

