/*
 * "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'base/_vars';
@import 'base/_mixins';
@import 'base/_functions';
@import 'base/_normalize';
@import 'base/_reset';
@import 'base/_layout';
@import 'components/_text';
@import 'components/_nav';
@import 'components/_tables';
@import 'components/_forms';
@import 'components/_pagination';

i.glyphicon {
  color: lighten($gray, 40%);
  &:hover {
    color: $gray-dark;
  }
}

nav.top-nav {
  margin-bottom: 0px;
}

section.fields {
  padding: 10px;
}

div.page-header {
  margin-top: 0px;
}

h1 {
  margin-top: 5px;
}

ul.text-danger {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 25px;
}
