/*
 * "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'base/_vars';
@import 'base/_mixins';
@import 'base/_functions';
@import 'base/_normalize';
@import 'base/_reset';
@import 'base/_layout';

i.glyphicon {
  color: lighten($gray, 40%);
  &:hover {
    color: $gray-dark;
  }
}

nav.top-nav {
  margin-bottom: 0px;
}