@function fa-content($fa-var) {
  // Make sure FA value is wrapped in quotes
  @return unquote("\"#{ $fa-var }\"");
}

@if variable-exists(fa-remove) {
  // FontAwesome 4
  $fa-map: (
    fa-var-pencil-alt: $fa-var-pencil,
    fa-var-times: $fa-var-remove,
    fa-var-sort-up: $fa-var-sort-asc,
    fa-var-sort-down: $fa-var-sort-desc,
  ) !global;
} @else {
  // FontAwesome 5
  $fa-map: (
    fa-var-pencil-alt: $fa-var-pencil-alt,
    fa-var-times: $fa-var-times,
    fa-var-sort-up: $fa-var-sort-up,
    fa-var-sort-down: $fa-var-sort-down,
  ) !global;
}
