@media (min-width: $screen-sm-min) {
  body {
    header .container-fluid {
      padding: 0 30px;
    }

    main {
      margin: 130px 30px 0;

      section {
        margin-bottom: 30px;
      }

      .resources__header, .resource__header {
        height: 80px;
        margin: 0 30px;
      }

      .resource__header {
        padding-top: 25px;

        h1 {
          margin-right: 122px;
          overflow: hidden;
          white-space: nowrap;
        }

        nav {
          bottom: auto;
          left: auto;
          margin-top: -15px;
          right: -6px;
          top: 50%;
          transition: 0.5s;
        }
      }

      .query {
        bottom: auto;
        left: 65%;
        margin-top: -15px;
        top: 50%;
        transition: 0.5s;

        &.query--focus {
          left: 50%;
        }
      }
    }
  }
}
