// common elements
body
{
  background-color: $background-color;
  color: $font-color;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

small
{
  font-size: 95%;
}

a
{
  color: $light-primary-color;
  text-decoration: none;
}

a:hover
{
  color: $default-primary-color;
  text-decoration: none;
}

// header section
header
{
  @extend .fixed-top;
}

#model_tree + .dropdown-menu
{
    max-height: 500px;
    overflow: auto;
}

.user__portrait
{
  display: inline-block;
  height: 17px;
}

.user__portrait .user,
.user__portrait .fa-user
{
  @extend .d-md-none, .d-lg-block;
}

.user__text
{
  @extend .d-none, .d-md-block, .d-lg-none;
}

img.user
{
  border-radius: 3px;
  height: 30px;
  margin-top: -5px;
  width: 30px;
}

.navbar .fa-user
{
  font-size: 15px;
  vertical-align: bottom;
}

.navbar .dropdown-menu .dropdown-menu
{
  display: block;
  position: inherit;
  margin-top: 0;
  padding: 0;
  border: none;
  box-shadow: none;
}

.navbar .dropdown-menu .dropdown-menu li
{
  position: relative;
}

.navbar .dropdown-menu .dropdown-menu li:before
{
  @extend .fa, .fa-caret-right;
  position: absolute;
  left: 30px;
  top: 50%;
  margin-top: -5px;
}

.navbar .dropdown-menu .dropdown-menu a
{
  padding-left: 43px;
}

// main
main
{
  padding: 69px 10px 10px;
}

section
{
  font-size: 12px;
  position: relative;
}

.modaler__title,
.modaler__body
{
  display: none;
}

@media (min-width: $screen-sm-min) {
  main
  {
    padding: 89px 30px 30px;
  }
}
