.minicolors-theme-bootstrap {
  .minicolors-swatch {
    width: 25px;
    height: 25px;
  }

  .minicolors-input {
    padding-left: 36px;
  }
}

.bootstrap-datetimepicker-widget {
  table {
    td.day, th {
      border: none;
    }
  }
}

// Bootstrap navbar
.navbar
{
  background-color: white;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.175);
  position: relative;
}

.navbar .navbar-nav .dropdown-toggle
{
  padding-right: 13px;
}

.navbar .navbar-brand
{
  color: $light-red-color;
}

.navbar .navbar-brand:hover
{
  color: $default-red-color;
}

// Bootstrap Dropdown
.dropdown-toggle
{
  display: inline-block;
  margin-right: 2px;
  position: relative;
  padding-right: 12px;
}

.dropdown-toggle:after
{
  display: none;
}

.dropdown-toggle:before
{
  @extend .fa;
  @extend .fa-chevron-down;
  border: none;
  color: $light-red-color;
  font-size: 9px;
  margin-top: -4px;
  position: absolute;
  right: 0;
  top: 50%;
}

.dropdown-toggle:hover:before
{
  color: $dark-red-color;
}

.show > .dropdown-toggle:before
{
  @extend .fa-chevron-up;
}

// btn-primary
.btn-primary
{
  color: $white;
}
