name: pr-build
on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches: [main, develop]
jobs:
  pr-build:
    runs-on: ${{ matrix.os }}
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/Gemfile.rails-${{ matrix.rails }}
      RAILS_ENV: test
      CC_TEST_REPORTER_ID: 89018ff9cf16701be28afe79deedae7077639196ec3df7b00935d3b456fd9ed0
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      MYSQL_ROOT_PASSWORD: password
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_DB: dummy_test
          POSTGRES_USER: ${{ env.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ env.POSTGRES_PASSWORD }}
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      mysql:
        image: mysql:latest
        env:
          MYSQL_DATABASE: dummy_test
          MYSQL_ROOT_PASSWORD: ${{ env.MYSQL_ROOT_PASSWORD }}
        ports:
          - 3306:3306
        options: >-
          --health-cmd "mysqladmin ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    strategy:
      matrix:
        os: [ubuntu-latest]
        # NOTE: check the versions that Ruby supports at https://www.ruby-lang.org/en/downloads/branches/
        ruby: ['3.1', '3.0', '2.7', '2.6']
        # NOTE: check the versions that Rails supports at https://guides.rubyonrails.org/maintenance_policy.html
        rails: ['7.0', '6.1', '6.0', '5.2']
        exclude:
          - ruby: '3.1'
            rails: '5.2'
          - ruby: '3.0'
            rails: '5.2'
          - ruby: '2.6'
            rails: '7.0'
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Rubocop Check
        run: bundle exec rubocop

      - name: Rspec
        run: |
          if [ "$GITHUB_REF_NAME" = "main" ]; then curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter; fi
          if [ "$GITHUB_REF_NAME" = "main" ]; then chmod +x ./cc-test-reporter; fi
          if [ "$GITHUB_REF_NAME" = "main" ]; then ./cc-test-reporter before-build; fi
          bundle exec rake --trace db:test:prepare spec
          if [ "$GITHUB_REF_NAME" = "main" ]; then ./cc-test-reporter after-build -r ${{ env.CC_TEST_REPORTER_ID }}; fi
